<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="servicios" (click)="goToTab('servicios')">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" (click)="goToTab('chat')" class="chat-tab">
      <div class="icon-wrapper">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <span class="unread-indicator" *ngIf="tieneMensajesNoLeidos"></span>
      </div>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" (click)="goToTab('perfil')">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
