// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

// Custom Variables
$primary-gradient: linear-gradient(90deg, #3DD598, #13B5B5);
$gray-text: rgb(153, 153, 153);
$input-width: 300px;
$input-height: 36px;
$button-height: 46px;
$border-radius-sm: 10px;
$border-radius-lg: 18px;
$font-family: 'inter', sans-serif;
